<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <nav>
    <div class="navbar" id="navbar">
        <a href="main.html">Home</a>
        <a href="about.html">About</a>
        <a href="services.html">Services</a>
        <a href="boards.html">Boards of Directors</a>
        <a href="careers.html">Careers</a>
        <a href="citizens.html">Citizen's Charter</a>
        <a href="transparency.html">Transparency Seal</a>
        <a href="contacts.html">Contact</a>
    </div>
  </nav>
</body>
</html>