* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  background: #f7fbfd;
  color: #212529;
  min-height: 100vh;
  overflow: auto;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}

/* Navigation Bar */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #0b7285;
  position: sticky;
  width: 100%;
  z-index: 1000;
}

.name {
  display: flex;
  align-items: center;
  padding: 5px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: left;
  padding-right: 20px;
}

.navbar li {
  list-style: none;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar a:hover {
  background-color: #22b8cf;
  color: #fff;
}

.logo img {
  width: 60px;
  height: auto;
}

/* Burger hidden by default (desktop view) */
.burger {
  display: none;
  cursor: pointer;
  padding-right: 10px;
}

.burger span {
  font-size: 30px;
  padding: 10px;
  color: white;
  background-color: #22b8cf;
  border-radius: 5px;
}

.hero {
  background: url("") center/cover no-repeat;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(247, 243, 243, 0.952);
}

.hero-content {
  position: relative;
  display: flex;
  align-items: center;
  z-index: 2;
  animation: fadeInUp 1.2s ease-in-out;
  text-align: left;
}
.hero-logo {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 100%;
}

.hero-text h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.hero-text p {
  font-size: 1.2rem;
  opacity: 0.9;
}

.container {
  text-align: center;
  padding: 20px;
  margin-top: 80px;
  /* Adjusted for fixed nav */
}

.container img {
  width: 100px;
  /* Fixed width for the logo */
  height: auto;
}

.container h1 {
  margin-top: 10px;
  font-size: 2em;
  color: #333;
}

.box-container {
  display: flex;
  flex-direction: row; /* all boxes in one line */
  justify-content: center;
  gap: 20px;
  padding: 20px;
  margin-top: 20px;
  overflow-x: auto; /* scroll horizontally if needed */
}

.box {
  flex: 0 0 auto; /* fixed size, no shrinking */
  width: 300px; /* adjust as needed */
  border-radius: 5px;
  overflow: hidden;
  transition: transform 0.3s ease;
}

/* Enhancements for paragraphs */
#about p {
  border-left: 4px solid #063b50;
  padding-left: 15px;
  margin: 15px 0;
  text-align: left;
  color: #333;
}

.bordered-paragraph {
  border: 2px solid #063b50;
  /* Adjust color and thickness */
  padding: 10px;
  /* Adds space inside the border */
  margin: 10px 0;
  /* Adds space outside the border */
}

/* Footer */
footer {
  position: sticky;
  width: 100%;
  padding: 15px;
  text-align: center;
  color: white;
  background: #0b7285;
}

footer p {
  font-size: 15px;
  margin: 5px 0;
}

/* Mobile styles */
@media (max-width: 768px) {
  .navbar {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 70px;
    left: 0;
    background: #ffffff;
  }

  .navbar.active {
    display: flex;
  }

  .burger {
    display: flex;
    /* only show on mobile */
  }

  .burger span {
    font-size: 25px;
    padding: 8px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  .navbar a {
    color: #4cbfe6;
    font-size: 15px;
    text-decoration: none;
    display: block;
  }

  .navbar a:hover {
    background-color: #22b8cf;
    color: #fff;
    margin: 0 10px;
  }

  .hero {
    height: 30vh;
  }

  .hero-text h1 {
    font-size: 1.8rem;
  }

  .hero-content {
    flex-direction: column;
    text-align: center;
  }
  .hero-logo {
    width: 100px;
    height: 100px;
    margin-top: 10px;
  }

  .content {
    transition: margin-top 0.3s ease;
  }

  .box-container {
    display: flex;
    flex-direction: column; /* all boxes in one line */
    justify-content: center;
    gap: 20px;
    padding: 20px;
    margin-top: 20px;
    overflow-x: auto; /* scroll horizontally if needed */
  }

  footer p {
    font-size: 13px;
  }
}
